body{
	background-color: #00CDCD;
	font-family: 'Signika', sans-serif;
	font-size: 18;
	font-weight: bold;
	color: #3d3d3d;

}

header {
	background-color: white;
	height: 100px;
	font-size: 45pt;
	text-align: center;
	border: 10px solid gray;
}

.container1 {
	display: flex;
	justify-content: space-around;
	padding-top: 20px;

}

#tomagotchi {
	width: 40%;
	height: 150px;
	display: block;
	border: 10px solid gray;
	background-color: white;
	padding: 20px;
	position: relative;
	font-size: 16pt;
}

.buttons {
	display: flex;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;

}

#photo {
	height: 200px;
	width: 30%;
}